<a
  [routerLink]="['create']"
  class="inline-block bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 mb-6 rounded-lg hover:bg-indigo-500 transition ease-in-out duration-300"
>
  New application
</a>

<table class="border-collapse w-full">
  <thead>
    <tr>
      <th
        class="w-1/5 p-3 font-bold text-sm text-left uppercase bg-gray-200 text-gray-600 border-t border-b border-l border-gray-300 lg:table-cell whitespace-nowrap"
      >
        Applicant
      </th>
      <th
        class="w-1/6 p-3 font-bold text-sm text-left uppercase bg-gray-200 text-gray-600 border-t border-b border-gray-300 hidden lg:table-cell whitespace-nowrap"
      >
        Status
      </th>
      <th
        class="w-1/6 p-3 font-bold text-sm text-left uppercase bg-gray-200 text-gray-600 border-t border-b border-gray-300 hidden lg:table-cell whitespace-nowrap"
      >
        Created
      </th>
      <th
        class="w-1/6 p-3 font-bold text-sm text-left uppercase bg-gray-200 text-gray-600 border-t border-b border-gray-300 hidden lg:table-cell whitespace-nowrap"
      >
        Last Updated
      </th>
      <th
        class="p-3 f bg-gray-200 border-t border-r border-b border-gray-300 hidden lg:table-cell"
      ></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let application of applications"
      class="bg-white text-sm lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0"
    >
      <td
        class="w-full lg:w-auto p-3 text-gray-800 border-t border-b border-l block lg:table-cell relative lg:static text-right lg:text-left"
      >
        <span
          class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
        >
          Applicant
        </span>
        {{ application.applicant | fullName }}
        <br />
        <p class="truncate max-w-xs text-xs text-gray-400">
          {{ application.applicant.dob }}
        </p>
      </td>
      <td
        class="w-full lg:w-auto p-3 text-gray-800 border-t border-b block lg:table-cell relative lg:static text-right lg:text-left"
      >
        <span
          class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
        >
          Status
        </span>
        <ng-container [ngSwitch]="application.status">
          <ng-container *ngSwitchCase="'APPROVED'">
            <span
              class="rounded bg-green-600 text-white py-1 px-3 text-xs font-bold uppercase"
            >
              Approved
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'REJECTED'">
            <span
              class="rounded bg-red-600 text-white py-1 px-3 text-xs font-bold uppercase"
            >
              Rejected
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'DRAFT'">
            <span
              class="rounded bg-gray-200 text-white py-1 px-3 text-xs font-bold uppercase"
            >
              Draft
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'UNDER REVIEW'">
            <span
              class="rounded bg-yellow-600 text-white py-1 px-3 text-xs font-bold uppercase"
            >
              Under review
            </span>
          </ng-container>
        </ng-container>
      </td>
      <td
        class="w-full lg:w-auto p-3 text-gray-800 border-t border-b block lg:table-cell relative lg:static text-right lg:text-left"
      >
        <span
          class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
        >
          Created
        </span>
        {{ application.createdOn | date: 'mediumDate' }}
      </td>
      <td
        class="w-full lg:w-auto p-3 text-gray-800 border-t border-b block lg:table-cell relative lg:static text-right lg:text-left"
      >
        <span
          class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
        >
          Last updated
        </span>
        {{ application.updatedOn | date: 'mediumDate' }}
      </td>
      <td
        class="w-full lg:w-auto p-3 text-gray-800 text-right border-t border-r border-b block lg:table-cell relative lg:static"
      >
        <a
          [routerLink]="[application.id]"
          class="text-blue-400 hover:text-blue-600 underline py-1 px-3"
        >
          View details
        </a>
      </td>
    </tr>
    <tr *ngIf="loading" class="bg-white">
      <td
        colspan="5"
        class="p-3 text-gray-800 border block lg:table-cell text-center"
      >
        <ri-loader></ri-loader>
      </td>
    </tr>
  </tbody>
</table>
